In [1]:
import numpy as np
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
#!pip install tweepy

In [3]:
import tweepy
from tweepy import OAuthHandler

In [4]:
consumer_key='HSWDeU6deStSS8iqHrKly8Ker'
consumer_secret='KafSg3nt6qKcWXWCnbXxrdoV98rWu2Hmu7CoZTDtWLhzQvERrt'
access_token_key='864349577205358596-Wqk32IIT4y2yzN8jnd4OCpln7OE7DWy'
access_token_secret='DSPT0zL2ysQeuLFZk0AycXZ1cPmBHHJbd0jCEP8zRhOFO'

In [5]:
auth = OAuthHandler(consumer_key,consumer_secret) #to authenticate whether it is twitter application or not.

In [6]:
auth.set_access_token(access_token_key,access_token_secret) #to enable the rights to fetch tweets from twitter

In [7]:
# Define the Keywords here

args = ["Corona", "Covid"]
date_since = "2020-04-19"

In [8]:
api = tweepy.API(auth,timeout = 10000)

In [9]:
user = api.me()
 
print('Name: ' + user.name)
print('Location: ' + user.location)
print('Friends: ' + str(user.friends_count))

Name: Krish
Location:
Friends: 13

In [10]:
list_tweets0 = []
list_tweets1 = []
list_tweets2 = []
list_tweets3 = []
list_tweets4 = []
list_tweets5 = []
list_tweets6 = []

In [11]:
query = args[0] #to convert args into strings

In [12]:
# Defining the parameters which we require
# As no of keywords so the no of args will increase
 
if len(args) == 2:
    for tweet in tweepy.Cursor(api.search, q=query+" -filter:retweets",lang='en',
                               tweet_mode='extended', since=date_since,
                               wait_on_rate_limit=True).items(2000):
        list_tweets0.append(tweet.id)
        list_tweets1.append(tweet.created_at)
        list_tweets2.append(tweet.source)
        list_tweets3.append(tweet.retweet_count)
        list_tweets4.append(tweet.user.name)
        list_tweets5.append(tweet.place)
        list_tweets6.append(tweet.full_text)
        time.sleep(1)

In [13]:
df = pd.DataFrame(np.column_stack([list_tweets0 , list_tweets1, list_tweets2, list_tweets3,
                                   list_tweets4, list_tweets5, list_tweets6]), 
                  columns=['Id','Timestamp', 'Source', 'Retwwet_Count', 'User_Name',
                           'Location', 'Tweets'])

In [14]:
df.shape

(2000, 7)

In [15]:
df.to_csv("Tweets_covid_april.csv")

In [16]:
df.head()

,Id,Timestamp,Source,Retwwet_Count,User_Name,Location,Tweets
0,1251943763804643330,2020-04-19 18:40:27,Twitter for iPhone,0,shea butter baby,None,idk what headspace chrissy is in rn but for pe...
1,1251943763121000454,2020-04-19 18:40:27,Twitter for iPhone,0,Imran sheikh,None,@Manish01503302 @khaanachahiye @VishalDadlani ...
2,1251943763020255235,2020-04-19 18:40:27,Twitter for Android,0,Poonam Kumari,None,"@aajtak @rahulkanwal Sir, I have a suggestion...."
3,1251943761149657088,2020-04-19 18:40:27,Twitter for iPhone,0,ùêâ ùêÄ ùêí ùêå ùêà ùêç ùêÑ,None,"I officially cancelled my EDC ticket, fuck you..."
4,1251943760570675200,2020-04-19 18:40:27,Twitter for Android,0,QuarantinedSouthSwamy,None,@RaghuRaju @surnell @BlrCityPolice @CPBlr No n...

In [17]:
#************* End of Code *****************************